In [13]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
import json
from SPARQLWrapper import SPARQLWrapper, JSON
from surprise import SVD
from surprise import Reader
from surprise import Dataset
from surprise import evaluate, print_perf
from surprise import accuracy
from surprise.prediction_algorithms.knns import *
%matplotlib inline

In [2]:
ratings = pd.read_csv( '/Users/jose/Documents/Maestria/Sistemas de recomendación/Taller 3/ml-latest/ratings.csv', sep = ',', engine = 'python' )

In [3]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [4]:
ratings.count()

userId       26024289
movieId      26024289
rating       26024289
timestamp    26024289
dtype: int64

In [5]:
movies = pd.read_csv( '/Users/jose/Documents/Maestria/Sistemas de recomendación/Taller 3/ml-latest/movies.csv', sep = ',', engine = 'python' )

In [6]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
movies.count()

movieId    45843
title      45843
genres     45843
dtype: int64

In [8]:
tags = pd.read_csv( '/Users/jose/Documents/Maestria/Sistemas de recomendación/Taller 3/ml-latest/tags.csv', sep = ',', engine = 'python' )

In [9]:
tags.head()

   userId  movieId         tag   timestamp
0       1      318    narrated  1425942391
1      20     4306  Dreamworks  1459855607
2      20    89302     England  1400778834
3      20    89302   espionage  1400778836
4      20    89302        jazz  1400778841

In [10]:
tags.count()

userId       753170
movieId      753170
tag          753154
timestamp    753170
dtype: int64

In [3]:
links = pd.read_csv( '/Users/jose/Documents/Maestria/Sistemas de recomendación/Taller 3/ml-latest/links.csv', sep = ',', engine = 'python' )

In [4]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [13]:
links.count()

movieId    45843
imdbId     45843
tmdbId     45624
dtype: int64

In [14]:
genomeScores = pd.read_csv( '/Users/jose/Documents/Maestria/Sistemas de recomendación/Taller 3/ml-latest/genome-scores.csv', sep = ',', engine = 'python' )

In [15]:
genomeScores.head()

   movieId  tagId  relevance
0        1      1    0.02475
1        1      2    0.02475
2        1      3    0.04900
3        1      4    0.07750
4        1      5    0.12450

In [16]:
genomeScores.count()

movieId      12400104
tagId        12400104
relevance    12400104
dtype: int64

In [17]:
genomeTags = pd.read_csv( '/Users/jose/Documents/Maestria/Sistemas de recomendación/Taller 3/ml-latest/genome-tags.csv', sep = ',', engine = 'python' )

In [18]:
genomeTags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [19]:
genomeTags.count()

tagId    1128
tag      1128
dtype: int64

In [20]:
tags['DateTime'] = pd.to_datetime(tags['timestamp'], unit='s')

In [21]:
tags.head()

   userId  movieId         tag   timestamp            DateTime
0       1      318    narrated  1425942391 2015-03-09 23:06:31
1      20     4306  Dreamworks  1459855607 2016-04-05 11:26:47
2      20    89302     England  1400778834 2014-05-22 17:13:54
3      20    89302   espionage  1400778836 2014-05-22 17:13:56
4      20    89302        jazz  1400778841 2014-05-22 17:14:01

In [22]:
ratings['DateTime'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [23]:
ratings.head()

   userId  movieId  rating   timestamp            DateTime
0       1      110     1.0  1425941529 2015-03-09 22:52:09
1       1      147     4.5  1425942435 2015-03-09 23:07:15
2       1      858     5.0  1425941523 2015-03-09 22:52:03
3       1     1221     5.0  1425941546 2015-03-09 22:52:26
4       1     1246     5.0  1425941556 2015-03-09 22:52:36

In [24]:
date_rating = pd.DataFrame(ratings['DateTime']).drop_duplicates()

In [25]:
date_rating.describe()

                   DateTime
count              20549435
unique             20549435
top     2013-04-24 11:28:21
freq                      1
first   1995-01-09 11:46:44
last    2017-08-04 06:57:50

In [26]:
users_rating = pd.DataFrame(ratings['userId']).drop_duplicates()

In [27]:
users_rating.describe()

              userId
count  270896.000000
mean   135448.500000
std     78201.083599
min         1.000000
25%     67724.750000
50%    135448.500000
75%    203172.250000
max    270896.000000

In [28]:
genomes = pd.merge(genomeScores,genomeTags, on=['tagId'])

In [29]:
genomes.head()

   movieId  tagId  relevance  tag
0        1      1    0.02475  007
1        2      1    0.03750  007
2        3      1    0.03800  007
3        4      1    0.03125  007
4        5      1    0.04100  007

In [30]:
genomes.count()

movieId      12400104
tagId        12400104
relevance    12400104
tag          12400104
dtype: int64

In [31]:
pelicula = pd.DataFrame(tags[tags['movieId']==1]['tag']).drop_duplicates()
pelicula.sort_values('tag')

                                                      tag
657468                   2009 reissue in Stereoscopic 3-D
614820                                                 3D
657469  55 movies every kid should see--Entertainment ...
736440                                 American Animation
355068                                          Animation
657470                                           BD-Video
706177                  Best of Rotten Tomatoes: All Time
686606                                     Buzz Lightyear
686607                                       CG animation
510255                                                CGI
646365                                        CGI classic
657471                                                CLV
123053                                            Cartoon
300600                                     DARING RESCUES
657472                                          DVD-Video
8170                                               Disney
456236                            Disney animated feature
482283                                           Engaging
300602                                     HEROIC MISSION
312366                                      John Lasseter
484995                             National Film Registry
99370                                       Os dois viram
3420                                                Pixar
41031                                     Pixar animation
300606                                  TOYS COME TO LIFE
46418                                           Tim Allen
17244                                           Tom Hanks
133353                                          Toy Story
170137                               Tumey's To See Again
170138                                        Tumey's VHS
...                                                   ...
169279                                      light hearted
126830                                      lots of heart
598663                                 lovable characters
592581                                           monsters
520544                                          nostalgic
8172                                                pixar
647687                                rainy day watchlist
705621                                            rated-G
300605                                            rousing
322550                                             sci-fi
560958                                           soothing
156192                                              story
311326                                           the boys
527597                                          tim allen
3421                                          time travel
527598                                          tom hanks
509367                                     touching story
326179                                                toy
108141                                               toys
180781                               unlikely friendships
619123                                               unny
728201                                          very good
329832                                 villian hurts toys
156193                                       voice acting
635587                                  want to see again
300608                                               warm
169280                                           whimsica
23966                                               witty
87504                                              ya boy
411569                                          é˜®ä¸€é¸£

[121 rows x 1 columns]

In [32]:
pelicula = movies[movies['movieId']==781]
pelicula

     movieId                   title genres
768      781  Stealing Beauty (1996)  Drama

In [27]:
def get_movie_description():
    sparql = SPARQLWrapper("http://dbpedia.org/sparql")
    sparql.setReturnFormat(JSON)
    total_results = 16
    offset = 0
    out = []
 
    while total_results > 0:
            sparql.setQuery("""
            SELECT ?label ?film ?Rdate ?imdbId ?country ?director 
            WHERE { ?film rdf:type dbo:Film . 
                    OPTIONAL { ?film rdfs:label ?label }. 
                    OPTIONAL { ?film dbo:releaseDate ?Rdate }.
                    OPTIONAL { ?film dbo:imdbId ?imdbId }. 
                    OPTIONAL { ?film dbp:country ?country }. 
                    OPTIONAL { ?film dbo:director ?director }. 
            FILTER (lang(?label) = \'en\') } 
            OFFSET """ + str(offset) + """
            LIMIT 10000""")

            result = sparql.query()
            offset = offset + 10000
            
            processed_results = json.load(result.response)
            cols = processed_results['head']['vars']

            for row in processed_results['results']['bindings']:
                item = []
                for c in cols:
                    item.append(row.get(c, {}).get('value'))
                out.append(item)

            total_results=total_results-1
    resultM = pd.DataFrame(out, columns=cols)
    return resultM

In [28]:
resultDBPEDIA = get_movie_description()
resultDBPEDIA

,label,film,Rdate,imdbId,country,director
0,THX 1138,http://dbpedia.org/resource/THX_1138,1971-03-11,0066434,United States,http://dbpedia.org/resource/George_Lucas
1,The Big Fisherman,http://dbpedia.org/resource/The_Big_Fisherman,1959-08-04,0052627,United States,http://dbpedia.org/resource/Frank_Borzage
2,The Hollywood Revue of 1929,http://dbpedia.org/resource/The_Hollywood_Revu...,1929-06-20,0019993,United States,http://dbpedia.org/resource/Charles_Reisner
3,The War Game,http://dbpedia.org/resource/The_War_Game,1965-11-01,0059894,UK,http://dbpedia.org/resource/Peter_Watkins
4,Bad Company (1972 film),http://dbpedia.org/resource/Bad_Company_(1972_...,1972-10-08,0068245,United States,http://dbpedia.org/resource/Robert_Benton
5,Bad Company (1999 film),http://dbpedia.org/resource/Bad_Company_(1999_...,1999-10-20,0211504,France,http://dbpedia.org/resource/Jean-Pierre_Améris
6,Blown Away (1994 film),http://dbpedia.org/resource/Blown_Away_(1994_f...,1994-07-01,0109303,United States,http://dbpedia.org/resource/Stephen_Hopkins_(d...
7,Coup de Grâce (1969 film),http://dbpedia.org/resource/Coup_de_Grâce_(196...,1969-10-02,0183898,Argentina,http://dbpedia.org/resource/Ricardo_Becher
8,God Is My Co-Pilot (film),http://dbpedia.org/resource/God_Is_My_Co-Pilot...,1945-02-21,0037746,United States,http://dbpedia.org/resource/Robert_Florey
9,Jack of All Trades (1936 film),http://dbpedia.org/resource/Jack_of_All_Trades...,1936-12-30,0030905,United Kingdom,http://dbpedia.org/resource/Robert_Stevenson_(...
10,Jack of All Trades (1936 film),http://dbpedia.org/resource/Jack_of_All_Trades...,1936-12-30,0030905,United Kingdom,http://dbpedia.org/resource/Jack_Hulbert
11,Laddie (1940 film),http://dbpedia.org/resource/Laddie_(1940_film),1940-10-18,0032683,United States,http://dbpedia.org/resource/Jack_Hively
12,Liar Liar,http://dbpedia.org/resource/Liar_Liar,1997-03-21,0119528,United States,http://dbpedia.org/resource/Tom_Shadyac
13,Raman Thediya Seethai (1972 film),http://dbpedia.org/resource/Raman_Thediya_Seet...,1972-04-13,0248347,India,http://dbpedia.org/resource/P._Neelakantan
14,Sanctuary (1961 film),http://dbpedia.org/resource/Sanctuary_(1961_film),1961-04-18,0055402,United States,http://dbpedia.org/resource/Tony_Richardson
15,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-03-11,0478366,Canada,http://dbpedia.org/resource/Zacharias_Kunuk
16,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-03-11,0478366,Canada,http://dbpedia.org/resource/Norman_Cohn_(film_...
17,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-09-07,0478366,Canada,http://dbpedia.org/resource/Zacharias_Kunuk
18,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-09-07,0478366,Canada,http://dbpedia.org/resource/Norman_Cohn_(film_...
19,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-10-08,0478366,Canada,http://dbpedia.org/resource/Zacharias_Kunuk
20,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-10-08,0478366,Canada,http://dbpedia.org/resource/Norman_Cohn_(film_...
21,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-11-10,0478366,Canada,http://dbpedia.org/resource/Zacharias_Kunuk
22,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-11-10,0478366,Canada,http://dbpedia.org/resource/Norman_Cohn_(film_...
23,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-03-11,0478366,Denmark,http://dbpedia.org/resource/Zacharias_Kunuk
24,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-03-11,0478366,Denmark,http://dbpedia.org/resource/Norman_Cohn_(film_...
25,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-09-07,0478366,Denmark,http://dbpedia.org/resource/Zacharias_Kunuk
26,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-09-07,0478366,Denmark,http://dbpedia.org/resource/Norman_Cohn_(film_...
27,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-10-08,0478366,Denmark,http://dbpedia.org/resource/Zacharias_Kunuk
28,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-10-08,0478366,Denmark,http://dbpedia.org/resource/Norman_Cohn_(film_...
29,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-11-10,0478366,Denmark,http://dbpedia.org/resource/Zacharias_Kunuk
...,...,...,...,...,...,...
144289,The Golden God (1917 film),http://dbpedia.org/resource/The_Golden_God_(19...,None,None,None,None
144290,These Hopeless Savages,http://dbpedia.org/resource/These_Hopeless_Sav...,None,None,None,None
144291,Voodoo Productions Limited,http://dbpedia.org/resource/Voodoo_Productions...,None,None,None,None
144292,23rd Century:Ngasigee Matungda,http://dbpedia.org/resource/23rd_Century:Ngasi...,None,None,None,None
144293,Attihannu mattu Kanaja (2014 film),http://dbpedia.org/resource/Attihannu_mattu_Ka...,None,None,None,None
144294,Blood Lake (film),http://dbpedia.org/resource/Blood_Lake_(film),None,None,None,None
144295,CandyFlip (film),http://dbpedia.org/resource/CandyFlip_(film),None,None,None,None
144296,Desde allá,http://dbpedia.org/resource/Desde_allá,None,None,None,None
144297,Devil's Harbor,http://dbpedia.org/resource/Devil's_Harbor,None,None,None,None
144298,El pequeño ruiseñor,http://dbpedia.org/resource/El_pequeño_ruiseñor,None,None,None,None
144299,En underbar jävla jul,http://dbpedia.org/resource/En_underbar_jävla_jul,None,None,None,None
144300,Farewell Baghdad (2014 film),http://dbpedia.org/resource/Farewell_Baghdad_(...,None,None,None,None
144301,Flapping in The Middle of Nowhere,http://dbpedia.org/resource/Flapping_in_The_Mi...,None,None,None,None
144302,Gundu Kathirikai,http://dbpedia.org/resource/Gundu_Kathirikai,None,None,None,None
144303,Jagat (2015 film),http://dbpedia.org/resource/Jagat_(2015_film),None,None,None,None
144304,Just a Woman (film),http://dbpedia.org/resource/Just_a_Woman_(film),None,None,None,None
144305,Kencho Khurte Keute (2014 film),http://dbpedia.org/resource/Kencho_Khurte_Keut...,None,None,None,None
144306,Kohinoor (2014 Film),http://dbpedia.org/resource/Kohinoor_(2014_Film),None,None,None,None
144307,La gitanilla (film),http://dbpedia.org/resource/La_gitanilla_(film),None,None,None,None
144308,"Lo & Behold, Reveries of the Connected World","http://dbpedia.org/resource/Lo_&_Behold,_Rever...",None,None,None,None
144309,Mills of the Gods (film),http://dbpedia.org/resource/Mills_of_the_Gods_...,None,None,None,None
144310,My All-American,http://dbpedia.org/resource/My_All-American,None,None,None,None
144311,Passionflower (film),http://dbpedia.org/resource/Passionflower_(film),None,None,None,None
144312,The Crying Woman (1933 film),http://dbpedia.org/resource/The_Crying_Woman_(...,None,None,None,None
144313,The End of the Tour (1917 silent film),http://dbpedia.org/resource/The_End_of_the_Tou...,None,None,None,None
144314,The Keeper of Lost Causes (film),http://dbpedia.org/resource/The_Keeper_of_Lost...,None,None,None,None
144315,The Rocky Horror Picture Show Event,http://dbpedia.org/resource/The_Rocky_Horror_P...,None,None,None,None
144316,Untitled Surender Reddy project,http://dbpedia.org/resource/Untitled_Surender_...,None,None,None,None
144317,Young and Wild (film),http://dbpedia.org/resource/Young_and_Wild_(film),None,None,None,None
144318,Šta se zgoda kad se ljubav rode,http://dbpedia.org/resource/Šta_se_zgoda_kad_s...,None,None,None,None

In [12]:
resultDBPEDIA.describe()

,label,film,Rdate,imdb,country,director
count,144319,144319,26180,34952,97615,108208
unique,129591,129591,15285,30676,1210,27997
top,Bridges of Sarajevo,http://dbpedia.org/resource/Bridges_of_Sarajevo,2001-12-12,0055747,United States,http://dbpedia.org/resource/D._W._Griffith
freq,78,78,18,25,40101,279

In [26]:
film_date = pd.DataFrame(resultDBPEDIA['Rdate'])
film_date2=film_date.drop_duplicates()
fd=film_date.loc[film_date['Rdate'].isnull()]
fd

       Rdate
59      None
60      None
61      None
62      None
63      None
64      None
65      None
66      None
67      None
68      None
69      None
70      None
71      None
72      None
73      None
74      None
75      None
76      None
77      None
78      None
79      None
80      None
81      None
82      None
83      None
84      None
85      None
86      None
87      None
88      None
...      ...
144289  None
144290  None
144291  None
144292  None
144293  None
144294  None
144295  None
144296  None
144297  None
144298  None
144299  None
144300  None
144301  None
144302  None
144303  None
144304  None
144305  None
144306  None
144307  None
144308  None
144309  None
144310  None
144311  None
144312  None
144313  None
144314  None
144315  None
144316  None
144317  None
144318  None

[118139 rows x 1 columns]

In [35]:
resultDBPEDIA['ID'] = pd.to_numeric(resultDBPEDIA.imdbId, errors='coerce')
links['ID'] = pd.to_numeric(links.imdbId, errors='coerce')

In [36]:
links

       movieId   imdbId    tmdbId       ID
0            1   114709     862.0   114709
1            2   113497    8844.0   113497
2            3   113228   15602.0   113228
3            4   114885   31357.0   114885
4            5   113041   11862.0   113041
5            6   113277     949.0   113277
6            7   114319   11860.0   114319
7            8   112302   45325.0   112302
8            9   114576    9091.0   114576
9           10   113189     710.0   113189
10          11   112346    9087.0   112346
11          12   112896   12110.0   112896
12          13   112453   21032.0   112453
13          14   113987   10858.0   113987
14          15   112760    1408.0   112760
15          16   112641     524.0   112641
16          17   114388    4584.0   114388
17          18   113101       5.0   113101
18          19   112281    9273.0   112281
19          20   113845   11517.0   113845
20          21   113161    8012.0   113161
21          22   112722    1710.0   112722
22          23   112401    9691.0   112401
23          24   114168   12665.0   114168
24          25   113627     451.0   113627
25          26   114057   16420.0   114057
26          27   114011    9263.0   114011
27          28   114117   17015.0   114117
28          29   112682     902.0   112682
29          30   115012   37557.0   115012
...        ...      ...       ...      ...
45813   176207  1331329   45527.0  1331329
45814   176211  6969946  455661.0  6969946
45815   176213  3814486  327237.0  3814486
45816   176215    36975   84710.0    36975
45817   176217   889600   39562.0   889600
45818   176219   294425   14008.0   294425
45819   176221   135690   44330.0   135690
45820   176223      359   49279.0      359
45821   176225   135179   44333.0   135179
45822   176227   135122   49277.0   135122
45823   176229   127948   49271.0   127948
45824   176231   135631   44324.0   135631
45825   176233   224286  122036.0   224286
45826   176235   457437   14885.0   457437
45827   176237   135453   49280.0   135453
45828   176239   135571  106807.0   135571
45829   176245  3054038  276895.0  3054038
45830   176249  5690142  404604.0  5690142
45831   176251  4130180  420346.0  4130180
45832   176253    69215   67179.0    69215
45833   176255    38621   84419.0    38621
45834   176257   265736  390959.0   265736
45835   176259   252966  289923.0   252966
45836   176263   112613  222848.0   112613
45837   176267   102797   30840.0   102797
45838   176269  6209470  439050.0  6209470
45839   176271  2028550  111109.0  2028550
45840   176273   303758   67758.0   303758
45841   176275     8536  227506.0     8536
45842   176279  6980792  461257.0  6980792

[45843 rows x 4 columns]

In [37]:
dataOntology = pd.merge(links,resultDBPEDIA, on=['ID'])

In [38]:
dataOntology

,movieId,imdbId_x,tmdbId,ID,label,film,Rdate,imdbId_y,country,director
0,9,114576,9091.0,114576,Sudden Death (1995 film),http://dbpedia.org/resource/Sudden_Death_(1995...,None,0114576,United States,http://dbpedia.org/resource/Peter_Hyams
1,11,112346,9087.0,112346,The American President,http://dbpedia.org/resource/The_American_Presi...,None,0112346,United States,http://dbpedia.org/resource/Rob_Reiner
2,18,113101,5.0,113101,Four Rooms,http://dbpedia.org/resource/Four_Rooms,None,0113101,United States,http://dbpedia.org/resource/Allison_Anders
3,18,113101,5.0,113101,Four Rooms,http://dbpedia.org/resource/Four_Rooms,None,0113101,United States,http://dbpedia.org/resource/Alexandre_Rockwell
4,18,113101,5.0,113101,Four Rooms,http://dbpedia.org/resource/Four_Rooms,None,0113101,United States,http://dbpedia.org/resource/Quentin_Tarantino
5,18,113101,5.0,113101,Four Rooms,http://dbpedia.org/resource/Four_Rooms,None,0113101,United States,http://dbpedia.org/resource/Robert_Rodriguez
6,22,112722,1710.0,112722,Copycat (film),http://dbpedia.org/resource/Copycat_(film),1995-10-27,0112722,United States,http://dbpedia.org/resource/Jon_Amiel
7,26,114057,16420.0,114057,Othello (1995 film),http://dbpedia.org/resource/Othello_(1995_film),1995-12-15,0114057,None,http://dbpedia.org/resource/Oliver_Parker
8,27,114011,9263.0,114011,Now and Then (film),http://dbpedia.org/resource/Now_and_Then_(film),None,0114011,United States,http://dbpedia.org/resource/Lesli_Linka_Glatter
9,28,114117,17015.0,114117,Persuasion (1995 film),http://dbpedia.org/resource/Persuasion_(1995_f...,None,0114117,United Kingdom,http://dbpedia.org/resource/Roger_Michell
10,28,114117,17015.0,114117,Persuasion (1995 film),http://dbpedia.org/resource/Persuasion_(1995_f...,None,0114117,United States,http://dbpedia.org/resource/Roger_Michell
11,30,115012,37557.0,115012,Shanghai Triad,http://dbpedia.org/resource/Shanghai_Triad,1995-12-22,0115012,China,http://dbpedia.org/resource/Zhang_Yimou
12,31,112792,9909.0,112792,Dangerous Minds,http://dbpedia.org/resource/Dangerous_Minds,None,0112792,None,http://dbpedia.org/resource/John_N._Smith
13,33,114952,78802.0,114952,Wings of Courage,http://dbpedia.org/resource/Wings_of_Courage,None,0114952,France,http://dbpedia.org/resource/Jean-Jacques_Annaud
14,33,114952,78802.0,114952,Wings of Courage,http://dbpedia.org/resource/Wings_of_Courage,None,0114952,United States,http://dbpedia.org/resource/Jean-Jacques_Annaud
15,38,113442,33689.0,113442,It Takes Two (1995 film),http://dbpedia.org/resource/It_Takes_Two_(1995...,None,0113442,United States,http://dbpedia.org/resource/Andy_Tennant
16,41,114279,31174.0,114279,Richard III (1995 film),http://dbpedia.org/resource/Richard_III_(1995_...,None,0114279,United Kingdom,http://dbpedia.org/resource/Richard_Loncraine
17,42,112819,11443.0,112819,Dead Presidents,http://dbpedia.org/resource/Dead_Presidents,None,0112819,None,http://dbpedia.org/resource/Hughes_brothers
18,46,113347,11861.0,113347,How to Make an American Quilt,http://dbpedia.org/resource/How_to_Make_an_Ame...,1995-10-06,0113347,None,http://dbpedia.org/resource/Jocelyn_Moorhouse
19,49,114916,8391.0,114916,When Night Is Falling,http://dbpedia.org/resource/When_Night_Is_Falling,None,0114916,Canada,http://dbpedia.org/resource/Patricia_Rozema
20,53,110299,49133.0,110299,Lamerica,http://dbpedia.org/resource/Lamerica,None,0110299,None,http://dbpedia.org/resource/Gianni_Amelio
21,55,113158,97406.0,113158,Georgia (1995 film),http://dbpedia.org/resource/Georgia_(1995_film),1995-05-19,0113158,United States,http://dbpedia.org/resource/Ulu_Grosbard
22,55,113158,97406.0,113158,Georgia (1995 film),http://dbpedia.org/resource/Georgia_(1995_film),1995-12-08,0113158,United States,http://dbpedia.org/resource/Ulu_Grosbard
23,57,113321,9089.0,113321,Home for the Holidays (film),http://dbpedia.org/resource/Home_for_the_Holid...,None,0113321,United States,http://dbpedia.org/resource/Jodie_Foster
24,59,112714,99040.0,112714,The Confessional,http://dbpedia.org/resource/The_Confessional,None,0112714,Canada,http://dbpedia.org/resource/Robert_Lepage
25,59,112714,99040.0,112714,The Confessional,http://dbpedia.org/resource/The_Confessional,None,0112714,France,http://dbpedia.org/resource/Robert_Lepage
26,59,112714,99040.0,112714,The Confessional,http://dbpedia.org/resource/The_Confessional,None,0112714,United Kingdom,http://dbpedia.org/resource/Robert_Lepage
27,67,114753,40628.0,114753,Two Bits,http://dbpedia.org/resource/Two_Bits,None,0114753,United States,http://dbpedia.org/resource/James_Foley_(direc...
28,68,113149,4482.0,113149,French Twist (film),http://dbpedia.org/resource/French_Twist_(film),None,0113149,France,http://dbpedia.org/resource/Josiane_Balasko
29,72,113537,28387.0,113537,Kicking and Screaming (1995 film),http://dbpedia.org/resource/Kicking_and_Scream...,None,0113537,None,http://dbpedia.org/resource/Noah_Baumbach
...,...,...,...,...,...,...,...,...,...,...
11901,175747,60410,45592.0,60410,Film (film),http://dbpedia.org/resource/Film_(film),1965-09-04,0060410,None,http://dbpedia.org/resource/Alan_Schneider
11902,175747,60410,45592.0,60410,Film (film),http://dbpedia.org/resource/Film_(film),1966-01-08,0060410,None,http://dbpedia.org/resource/Alan_Schneider
11903,175805,246,49295.0,246,An Up-to-Date Conjuror,http://dbpedia.org/resource/An_Up-to-Date_Conj...,None,0000246,France,http://dbpedia.org/resource/Georges_Méliès
11904,175835,156602,89606.0,156602,Hemo the Magnificent,http://dbpedia.org/resource/Hemo_the_Magnificent,None,0156602,USA,http://dbpedia.org/resource/Frank_Capra
11905,175857,68021,245073.0,68021,Family Life (1971 Polish film),http://dbpedia.org/resource/Family_Life_(1971_...,None,0068021,Poland,http://dbpedia.org/resource/Krzysztof_Zanussi
11906,175879,172577,31856.0,172577,Hydrozagadka,http://dbpedia.org/resource/Hydrozagadka,1971-04-30,0172577,None,http://dbpedia.org/resource/Andrzej_Kondratiuk
11907,175897,2194497,139159.0,2194497,Coming Home (2012 film),http://dbpedia.org/resource/Coming_Home_(2012_...,None,2194497,France,http://dbpedia.org/resource/Frédéric_Videau
11908,175903,282917,101801.0,282917,Year of the Devil,http://dbpedia.org/resource/Year_of_the_Devil,None,0282917,None,http://dbpedia.org/resource/Petr_Zelenka
11909,175905,794399,36416.0,794399,We're All Christs,http://dbpedia.org/resource/We're_All_Christs,None,0794399,Poland,http://dbpedia.org/resource/Marek_Koterski
11910,175931,1576459,80831.0,1576459,Sang Pemimpi (film),http://dbpedia.org/resource/Sang_Pemimpi_(film),2009-12-17,1576459,None,http://dbpedia.org/resource/Riri_Riza
11911,175945,2846972,190817.0,2846972,The Rendez-Vous of Déjà-Vu,http://dbpedia.org/resource/The_Rendez-Vous_of...,None,2846972,France,None
11912,176003,1046930,43585.0,1046930,Headless Horseman (film),http://dbpedia.org/resource/Headless_Horseman_...,None,1046930,None,None
11913,176009,59635,28669.0,59635,Rasputin the Mad Monk,http://dbpedia.org/resource/Rasputin_the_Mad_Monk,1966-03-06,0059635,None,http://dbpedia.org/resource/Don_Sharp
11914,176009,59635,28669.0,59635,Rasputin the Mad Monk,http://dbpedia.org/resource/Rasputin_the_Mad_Monk,1966-04-06,0059635,None,http://dbpedia.org/resource/Don_Sharp
11915,176017,321359,20776.0,321359,Return to the Batcave: The Misadventures of Ad...,http://dbpedia.org/resource/Return_to_the_Batc...,None,0321359,United States,None
11916,176037,114419,151506.0,114419,She Fought Alone,http://dbpedia.org/resource/She_Fought_Alone,1995-11-06,0114419,United States,None
11917,176043,105492,449696.0,105492,The Stranger (video series),http://dbpedia.org/resource/The_Stranger_(vide...,None,0105492,None,None
11918,176045,102691,79927.0,102691,The Pope Must Die,http://dbpedia.org/resource/The_Pope_Must_Die,1991-08-31,0102691,United Kingdom,http://dbpedia.org/resource/Peter_Richardson_(...
11919,176121,477340,97797.0,477340,Dead Daughters,http://dbpedia.org/resource/Dead_Daughters,2007-02-01,0477340,None,http://dbpedia.org/resource/Pavel_Ruminov
11920,176123,1002760,149946.0,1002760,Two in One (film),http://dbpedia.org/resource/Two_in_One_(film),None,1002760,None,None
11921,176149,933361,62757.0,933361,Dikari,http://dbpedia.org/resource/Dikari,None,0933361,Russia,http://dbpedia.org/resource/Viktor_Shamirov
11922,176175,144020,52103.0,144020,Xiao Wu,http://dbpedia.org/resource/Xiao_Wu,1998-02-18,0144020,China,http://dbpedia.org/resource/Jia_Zhangke
11923,176181,116345,174271.0,116345,The Fortunes and Misfortunes of Moll Flanders ...,http://dbpedia.org/resource/The_Fortunes_and_M...,1996-12-01,0116345,United Kingdom,None
11924,176185,97062,143117.0,97062,"Black Rose Is an Emblem of Sorrow, Red Rose Is...",http://dbpedia.org/resource/Black_Rose_Is_an_E...,None,0097062,Soviet Union,http://dbpedia.org/resource/Sergei_Solovyov
11925,176191,106922,45029.0,106922,Fit to Kill,http://dbpedia.org/resource/Fit_to_Kill,None,0106922,None,None
11926,176197,72088,257472.0,72088,Rivers of Sand,http://dbpedia.org/resource/Rivers_of_Sand,None,0072088,United States,http://dbpedia.org/resource/Robert_Gardner_(an...
11927,176237,135453,49280.0,135453,The One-Man Band,http://dbpedia.org/resource/The_One-Man_Band,None,0135453,France,http://dbpedia.org/resource/Georges_Méliès
11928,176267,102797,30840.0,102797,Robin Hood (1991 British film),http://dbpedia.org/resource/Robin_Hood_(1991_B...,1991-05-13,0102797,United Kingdom,http://dbpedia.org/resource/John_Irvin
11929,176273,303758,67758.0,303758,Lady Jayne: Killer,http://dbpedia.org/resource/Lady_Jayne:_Killer,None,0303758,None,http://dbpedia.org/resource/Mark_L._Lester
11930,176275,8536,227506.0,8536,Satan Triumphant,http://dbpedia.org/resource/Satan_Triumphant,None,0008536,None,http://dbpedia.org/resource/Yakov_Protazanov