In [7]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
import json
from SPARQLWrapper import SPARQLWrapper, JSON
from surprise import SVD
from surprise import Reader
from surprise import Dataset
from surprise import evaluate, print_perf
from surprise import accuracy
from surprise.prediction_algorithms.knns import *
%matplotlib inline

In [2]:
ratings = pd.read_csv( '/Users/jose/Documents/Maestria/Sistemas de recomendación/Taller 3/ml-latest/ratings.csv', sep = ',', engine = 'python' )

In [3]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [4]:
ratings.count()

userId       26024289
movieId      26024289
rating       26024289
timestamp    26024289
dtype: int64

In [5]:
movies = pd.read_csv( '/Users/jose/Documents/Maestria/Sistemas de recomendación/Taller 3/ml-latest/movies.csv', sep = ',', engine = 'python' )

In [6]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
movies.count()

movieId    45843
title      45843
genres     45843
dtype: int64

In [8]:
tags = pd.read_csv( '/Users/jose/Documents/Maestria/Sistemas de recomendación/Taller 3/ml-latest/tags.csv', sep = ',', engine = 'python' )

In [9]:
tags.head()

   userId  movieId         tag   timestamp
0       1      318    narrated  1425942391
1      20     4306  Dreamworks  1459855607
2      20    89302     England  1400778834
3      20    89302   espionage  1400778836
4      20    89302        jazz  1400778841

In [10]:
tags.count()

userId       753170
movieId      753170
tag          753154
timestamp    753170
dtype: int64

In [3]:
links = pd.read_csv( '/Users/jose/Documents/Maestria/Sistemas de recomendación/Taller 3/ml-latest/links.csv', sep = ',', engine = 'python' )

In [4]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [13]:
links.count()

movieId    45843
imdbId     45843
tmdbId     45624
dtype: int64

In [14]:
genomeScores = pd.read_csv( '/Users/jose/Documents/Maestria/Sistemas de recomendación/Taller 3/ml-latest/genome-scores.csv', sep = ',', engine = 'python' )

In [15]:
genomeScores.head()

   movieId  tagId  relevance
0        1      1    0.02475
1        1      2    0.02475
2        1      3    0.04900
3        1      4    0.07750
4        1      5    0.12450

In [16]:
genomeScores.count()

movieId      12400104
tagId        12400104
relevance    12400104
dtype: int64

In [17]:
genomeTags = pd.read_csv( '/Users/jose/Documents/Maestria/Sistemas de recomendación/Taller 3/ml-latest/genome-tags.csv', sep = ',', engine = 'python' )

In [18]:
genomeTags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [19]:
genomeTags.count()

tagId    1128
tag      1128
dtype: int64

In [20]:
tags['DateTime'] = pd.to_datetime(tags['timestamp'], unit='s')

In [21]:
tags.head()

   userId  movieId         tag   timestamp            DateTime
0       1      318    narrated  1425942391 2015-03-09 23:06:31
1      20     4306  Dreamworks  1459855607 2016-04-05 11:26:47
2      20    89302     England  1400778834 2014-05-22 17:13:54
3      20    89302   espionage  1400778836 2014-05-22 17:13:56
4      20    89302        jazz  1400778841 2014-05-22 17:14:01

In [22]:
ratings['DateTime'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [23]:
ratings.head()

   userId  movieId  rating   timestamp            DateTime
0       1      110     1.0  1425941529 2015-03-09 22:52:09
1       1      147     4.5  1425942435 2015-03-09 23:07:15
2       1      858     5.0  1425941523 2015-03-09 22:52:03
3       1     1221     5.0  1425941546 2015-03-09 22:52:26
4       1     1246     5.0  1425941556 2015-03-09 22:52:36

In [24]:
date_rating = pd.DataFrame(ratings['DateTime']).drop_duplicates()

In [25]:
date_rating.describe()

                   DateTime
count              20549435
unique             20549435
top     2013-04-24 11:28:21
freq                      1
first   1995-01-09 11:46:44
last    2017-08-04 06:57:50

In [26]:
users_rating = pd.DataFrame(ratings['userId']).drop_duplicates()

In [27]:
users_rating.describe()

              userId
count  270896.000000
mean   135448.500000
std     78201.083599
min         1.000000
25%     67724.750000
50%    135448.500000
75%    203172.250000
max    270896.000000

In [28]:
genomes = pd.merge(genomeScores,genomeTags, on=['tagId'])

In [29]:
genomes.head()

   movieId  tagId  relevance  tag
0        1      1    0.02475  007
1        2      1    0.03750  007
2        3      1    0.03800  007
3        4      1    0.03125  007
4        5      1    0.04100  007

In [30]:
genomes.count()

movieId      12400104
tagId        12400104
relevance    12400104
tag          12400104
dtype: int64

In [31]:
pelicula = pd.DataFrame(tags[tags['movieId']==1]['tag']).drop_duplicates()
pelicula.sort_values('tag')

                                                      tag
657468                   2009 reissue in Stereoscopic 3-D
614820                                                 3D
657469  55 movies every kid should see--Entertainment ...
736440                                 American Animation
355068                                          Animation
657470                                           BD-Video
706177                  Best of Rotten Tomatoes: All Time
686606                                     Buzz Lightyear
686607                                       CG animation
510255                                                CGI
646365                                        CGI classic
657471                                                CLV
123053                                            Cartoon
300600                                     DARING RESCUES
657472                                          DVD-Video
8170                                               Disney
456236                            Disney animated feature
482283                                           Engaging
300602                                     HEROIC MISSION
312366                                      John Lasseter
484995                             National Film Registry
99370                                       Os dois viram
3420                                                Pixar
41031                                     Pixar animation
300606                                  TOYS COME TO LIFE
46418                                           Tim Allen
17244                                           Tom Hanks
133353                                          Toy Story
170137                               Tumey's To See Again
170138                                        Tumey's VHS
...                                                   ...
169279                                      light hearted
126830                                      lots of heart
598663                                 lovable characters
592581                                           monsters
520544                                          nostalgic
8172                                                pixar
647687                                rainy day watchlist
705621                                            rated-G
300605                                            rousing
322550                                             sci-fi
560958                                           soothing
156192                                              story
311326                                           the boys
527597                                          tim allen
3421                                          time travel
527598                                          tom hanks
509367                                     touching story
326179                                                toy
108141                                               toys
180781                               unlikely friendships
619123                                               unny
728201                                          very good
329832                                 villian hurts toys
156193                                       voice acting
635587                                  want to see again
300608                                               warm
169280                                           whimsica
23966                                               witty
87504                                              ya boy
411569                                          é˜®ä¸€é¸£

[121 rows x 1 columns]

In [32]:
pelicula = movies[movies['movieId']==781]
pelicula

     movieId                   title genres
768      781  Stealing Beauty (1996)  Drama

In [8]:
def get_movie_description():
    sparql = SPARQLWrapper("http://dbpedia.org/sparql")
    sparql.setReturnFormat(JSON)
    total_results = 16
    offset = 0
    out = []
 
    while total_results > 0:
            sparql.setQuery("""
            SELECT ?label ?film ?Rdate ?imdb ?country ?director 
            WHERE { ?film rdf:type dbo:Film . 
                    OPTIONAL { ?film rdfs:label ?label }. 
                    OPTIONAL { ?film dbo:releaseDate ?Rdate }.
                    OPTIONAL { ?film dbo:imdbId ?imdb }. 
                    OPTIONAL { ?film dbp:country ?country }. 
                    OPTIONAL { ?film dbo:director ?director }. 
            FILTER (lang(?label) = \'en\') } 
            OFFSET """ + str(offset) + """
            LIMIT 10000""")

            result = sparql.query()
            offset = offset + 10000
            
            processed_results = json.load(result.response)
            cols = processed_results['head']['vars']

            for row in processed_results['results']['bindings']:
                item = []
                for c in cols:
                    item.append(row.get(c, {}).get('value'))
                out.append(item)

            total_results=total_results-1
    resultM = pd.DataFrame(out, columns=cols)
    return resultM

In [9]:
resultDBPEDIA = get_movie_description()
resultDBPEDIA

,label,film,Rdate,imdb,country,director
0,THX 1138,http://dbpedia.org/resource/THX_1138,1971-03-11,0066434,United States,http://dbpedia.org/resource/George_Lucas
1,The Big Fisherman,http://dbpedia.org/resource/The_Big_Fisherman,1959-08-04,0052627,United States,http://dbpedia.org/resource/Frank_Borzage
2,The Hollywood Revue of 1929,http://dbpedia.org/resource/The_Hollywood_Revu...,1929-06-20,0019993,United States,http://dbpedia.org/resource/Charles_Reisner
3,The War Game,http://dbpedia.org/resource/The_War_Game,1965-11-01,0059894,UK,http://dbpedia.org/resource/Peter_Watkins
4,Bad Company (1972 film),http://dbpedia.org/resource/Bad_Company_(1972_...,1972-10-08,0068245,United States,http://dbpedia.org/resource/Robert_Benton
5,Bad Company (1999 film),http://dbpedia.org/resource/Bad_Company_(1999_...,1999-10-20,0211504,France,http://dbpedia.org/resource/Jean-Pierre_Améris
6,Blown Away (1994 film),http://dbpedia.org/resource/Blown_Away_(1994_f...,1994-07-01,0109303,United States,http://dbpedia.org/resource/Stephen_Hopkins_(d...
7,Coup de Grâce (1969 film),http://dbpedia.org/resource/Coup_de_Grâce_(196...,1969-10-02,0183898,Argentina,http://dbpedia.org/resource/Ricardo_Becher
8,God Is My Co-Pilot (film),http://dbpedia.org/resource/God_Is_My_Co-Pilot...,1945-02-21,0037746,United States,http://dbpedia.org/resource/Robert_Florey
9,Jack of All Trades (1936 film),http://dbpedia.org/resource/Jack_of_All_Trades...,1936-12-30,0030905,United Kingdom,http://dbpedia.org/resource/Robert_Stevenson_(...
10,Jack of All Trades (1936 film),http://dbpedia.org/resource/Jack_of_All_Trades...,1936-12-30,0030905,United Kingdom,http://dbpedia.org/resource/Jack_Hulbert
11,Laddie (1940 film),http://dbpedia.org/resource/Laddie_(1940_film),1940-10-18,0032683,United States,http://dbpedia.org/resource/Jack_Hively
12,Liar Liar,http://dbpedia.org/resource/Liar_Liar,1997-03-21,0119528,United States,http://dbpedia.org/resource/Tom_Shadyac
13,Raman Thediya Seethai (1972 film),http://dbpedia.org/resource/Raman_Thediya_Seet...,1972-04-13,0248347,India,http://dbpedia.org/resource/P._Neelakantan
14,Sanctuary (1961 film),http://dbpedia.org/resource/Sanctuary_(1961_film),1961-04-18,0055402,United States,http://dbpedia.org/resource/Tony_Richardson
15,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-03-11,0478366,Canada,http://dbpedia.org/resource/Zacharias_Kunuk
16,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-03-11,0478366,Canada,http://dbpedia.org/resource/Norman_Cohn_(film_...
17,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-09-07,0478366,Canada,http://dbpedia.org/resource/Zacharias_Kunuk
18,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-09-07,0478366,Canada,http://dbpedia.org/resource/Norman_Cohn_(film_...
19,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-10-08,0478366,Canada,http://dbpedia.org/resource/Zacharias_Kunuk
20,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-10-08,0478366,Canada,http://dbpedia.org/resource/Norman_Cohn_(film_...
21,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-11-10,0478366,Canada,http://dbpedia.org/resource/Zacharias_Kunuk
22,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-11-10,0478366,Canada,http://dbpedia.org/resource/Norman_Cohn_(film_...
23,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-03-11,0478366,Denmark,http://dbpedia.org/resource/Zacharias_Kunuk
24,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-03-11,0478366,Denmark,http://dbpedia.org/resource/Norman_Cohn_(film_...
25,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-09-07,0478366,Denmark,http://dbpedia.org/resource/Zacharias_Kunuk
26,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-09-07,0478366,Denmark,http://dbpedia.org/resource/Norman_Cohn_(film_...
27,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-10-08,0478366,Denmark,http://dbpedia.org/resource/Zacharias_Kunuk
28,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-10-08,0478366,Denmark,http://dbpedia.org/resource/Norman_Cohn_(film_...
29,The Journals of Knud Rasmussen,http://dbpedia.org/resource/The_Journals_of_Kn...,2006-11-10,0478366,Denmark,http://dbpedia.org/resource/Zacharias_Kunuk
...,...,...,...,...,...,...
144289,The Golden God (1917 film),http://dbpedia.org/resource/The_Golden_God_(19...,None,None,None,None
144290,These Hopeless Savages,http://dbpedia.org/resource/These_Hopeless_Sav...,None,None,None,None
144291,Voodoo Productions Limited,http://dbpedia.org/resource/Voodoo_Productions...,None,None,None,None
144292,23rd Century:Ngasigee Matungda,http://dbpedia.org/resource/23rd_Century:Ngasi...,None,None,None,None
144293,Attihannu mattu Kanaja (2014 film),http://dbpedia.org/resource/Attihannu_mattu_Ka...,None,None,None,None
144294,Blood Lake (film),http://dbpedia.org/resource/Blood_Lake_(film),None,None,None,None
144295,CandyFlip (film),http://dbpedia.org/resource/CandyFlip_(film),None,None,None,None
144296,Desde allá,http://dbpedia.org/resource/Desde_allá,None,None,None,None
144297,Devil's Harbor,http://dbpedia.org/resource/Devil's_Harbor,None,None,None,None
144298,El pequeño ruiseñor,http://dbpedia.org/resource/El_pequeño_ruiseñor,None,None,None,None
144299,En underbar jävla jul,http://dbpedia.org/resource/En_underbar_jävla_jul,None,None,None,None
144300,Farewell Baghdad (2014 film),http://dbpedia.org/resource/Farewell_Baghdad_(...,None,None,None,None
144301,Flapping in The Middle of Nowhere,http://dbpedia.org/resource/Flapping_in_The_Mi...,None,None,None,None
144302,Gundu Kathirikai,http://dbpedia.org/resource/Gundu_Kathirikai,None,None,None,None
144303,Jagat (2015 film),http://dbpedia.org/resource/Jagat_(2015_film),None,None,None,None
144304,Just a Woman (film),http://dbpedia.org/resource/Just_a_Woman_(film),None,None,None,None
144305,Kencho Khurte Keute (2014 film),http://dbpedia.org/resource/Kencho_Khurte_Keut...,None,None,None,None
144306,Kohinoor (2014 Film),http://dbpedia.org/resource/Kohinoor_(2014_Film),None,None,None,None
144307,La gitanilla (film),http://dbpedia.org/resource/La_gitanilla_(film),None,None,None,None
144308,"Lo & Behold, Reveries of the Connected World","http://dbpedia.org/resource/Lo_&_Behold,_Rever...",None,None,None,None
144309,Mills of the Gods (film),http://dbpedia.org/resource/Mills_of_the_Gods_...,None,None,None,None
144310,My All-American,http://dbpedia.org/resource/My_All-American,None,None,None,None
144311,Passionflower (film),http://dbpedia.org/resource/Passionflower_(film),None,None,None,None
144312,The Crying Woman (1933 film),http://dbpedia.org/resource/The_Crying_Woman_(...,None,None,None,None
144313,The End of the Tour (1917 silent film),http://dbpedia.org/resource/The_End_of_the_Tou...,None,None,None,None
144314,The Keeper of Lost Causes (film),http://dbpedia.org/resource/The_Keeper_of_Lost...,None,None,None,None
144315,The Rocky Horror Picture Show Event,http://dbpedia.org/resource/The_Rocky_Horror_P...,None,None,None,None
144316,Untitled Surender Reddy project,http://dbpedia.org/resource/Untitled_Surender_...,None,None,None,None
144317,Young and Wild (film),http://dbpedia.org/resource/Young_and_Wild_(film),None,None,None,None
144318,Šta se zgoda kad se ljubav rode,http://dbpedia.org/resource/Šta_se_zgoda_kad_s...,None,None,None,None